@import 'slider';

:root {
    --circle-color: #979797;
}

.editor-container {
    width: 250px;
    height: 60px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 50px;
    box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.75);
    margin: 25% 25%;
}


.bold-box,
.italic-box,
.heading-box,
.align-box,
.link-box {
    font-size: 1.3em;
    color: #979797;
}

#color-circle {
    width: 23px;
    height: 23px;
    background: var(--circle-color);
    border-radius: 50%;
    vertical-align: auto;
    margin-left: 10px;
}

.fa-clickable {
    cursor: pointer;
}

.hide {
    /* display: none; */
    visibility: hidden;
}

.slider-container {
    position: fixed;
    visibility: hidden;
}