.slider {
  position: relative;
  width: 150px;
  height: 4px;
  margin: 10%;
  background: red;
  border-radius: 2px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3232+0,fff130+20,45ff30+35,28fff0+52,282cff+71,ff28fb+88,ff0094+100 */
}

.grad {
  background: #ff3232;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, right top, from(#ff3232), color-stop(20%, #fff130), color-stop(35%, #45ff30), color-stop(52%, #28fff0), color-stop(71%, #282cff), color-stop(88%, #ff28fb), to(#ff0094));
  background: linear-gradient(to right, #ff3232 0%, #fff130 20%, #45ff30 35%, #28fff0 52%, #282cff 71%, #ff28fb 88%, #ff0094 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3232', endColorstr='#ff0094', GradientType=1);
  /* IE6-9 */
}

.handle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background: red;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), inset 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3), inset 0 0 0 0 #fff;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.handle.pop {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 4px #fff;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3), inset 0 0 0 4px #fff;
}

.handle:before {
  content: '';
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -2px;
  background: inherit;
  width: 4px;
  height: 4px;
  border-radius: 20px;
  -webkit-transition: top .2s, left .2s, margin-left .2s, height .2s, width .2s;
  transition: top .2s, left .2s, margin-left .2s, height .2s, width .2s;
}

.handle.pop:before {
  top: -50px;
  left: 50%;
  margin-left: -20px;
  background: inherit;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

:root {
  --circle-color: #979797;
}

.editor-container {
  width: 250px;
  height: 60px;
  border-radius: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  -webkit-box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 41px -10px rgba(0, 0, 0, 0.75);
  margin: 25% 25%;
}

.bold-box,
.italic-box,
.heading-box,
.align-box,
.link-box {
  font-size: 1.3em;
  color: #979797;
}

#color-circle {
  width: 23px;
  height: 23px;
  background: var(--circle-color);
  border-radius: 50%;
  vertical-align: auto;
  margin-left: 10px;
}

.fa-clickable {
  cursor: pointer;
}

.hide {
  /* display: none; */
  visibility: hidden;
}

.slider-container {
  position: fixed;
  visibility: hidden;
}
/*# sourceMappingURL=main.css.map */